.dependencies
*.kdev4
.config
.nfs*
.*.swp

# Headers lineked (ln -s) from Kernel
md_def.h
md.h
zus_api.h
linux/stat.h

# targets
zus
b_io
fs/libfoofs.a

# TODO how to ignore external FS(s)
fs/m1fs/
fs/patches

# common ignores
*.o
*.so
