# SPDX-License-Identifier: BSD-3-Clause
#
# Service unit file for the ZUFS
#
# Copyright (C) 2018 NetApp, Inc.  All rights reserved.
#
# See module.c for LICENSE details.
#
# Authors:
#	Boaz Harrosh <boazh@netapp.com>
#	Shachar Sharon <sshachar@netapp.com>
#

[Unit]
Description=Zero-copy User-mode FileSystem
ConditionPathExists=|/lib/modules/%v/kernel/fs/zuf/zuf.ko
ConditionPathExists=|/usr/lib/zufs/extra/zuf.ko
After=local-fs.target

[Service]
Type=simple
EnvironmentFile=-/etc/zufs.conf
LimitCORE=50M
ExecStartPre=/sbin/modprobe zuf
ExecStartPre=/bin/mount -t zuf nodev /sys/fs/zuf
ExecStart=/sbin/zusd
ExecStopPost=/bin/umount -t zuf /sys/fs/zuf
ExecStopPost=/sbin/rmmod zuf
WorkingDirectory=/var/log/zufs

[Install]
WantedBy=multi-user.target
